.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  max-width: 5%;
  margin: 2px;
}

.card:hover {
  max-width: 5.5%;
  margin: 2px;
}

.card-selected {
  max-width: 6%;
  margin: 10px;
  background-color: #61dafb;
}

.card-hidden {
  max-width: 5%;
  margin: 2px;
}

.card-hidden-rot {
  max-height: 7%;
  margin: 2px;
  overflow: hidden;
}

.flex-hand {
  display: flex;
}

.flex-display {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-top: 80vh;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.player-hand {
  top: 50%;
}

/* https://stackoverflow.com/questions/43919067/make-flex-items-overlap */
.flex-other-hand-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-height: 98vh; /*https://stackoverflow.com/questions/11516291/css-get-height-of-screen-resolution*/
  height:98vh;
  margin-left: 2vw;
  position: absolute;
}

.flex-other-hand-2 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.flex-other-hand-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-right: 2vw;
  margin-left: 92vw;
  max-height: 98vh;
  height:98vh;
  position: absolute;
  /*border: 1px solid red;*/
  flex-shrink: 1;
}

.cardWrapper {
  overflow: hidden;
}

.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}

