.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(95, 95, 95);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(95, 95, 95);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(95, 95, 95);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-display {
  max-width: 90%;
  max-height: 90%;
}

.display-button{
  font: 30px "Century Gothic", Futura, sans-serif;
  padding: 10px;
  margin-left: 20px;
}

.box-bidding {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 204, 94, 0.7);
  margin: 5px;
}

.box-bidding-extra {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 204, 94, 0.15);
  margin: 5px;
}

.box-partner {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 251, 97, 0.7);
  margin: 5px;
}

.box-partner-not {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 5px;
}

.box-card-norm {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 133, 255, 0.7);
  margin: 5px;
}

.box-card-win {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 21, 0.7);
  margin: 5px;
}

.box-card-start {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 218, 251, 0.7);
  margin: 5px;
}

.box-end-win {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 255, 0, 0.7);
  margin: 5px;
}

.box-end-lose {
  width:18%;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 93, 93, 0.7);
  margin: 5px;
}

.flex-row-display {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.flex-main-display {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.p{
  font: 30px "Century Gothic", Futura, sans-serif;
  text-align: center;
  white-space: pre-line;
}

.display-title{
  font: 50px "Century Gothic", Futura, sans-serif;
  text-align: center;
  white-space: pre-line;
}

.text-title-display{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height:20%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  color: rgb(240, 248, 255);
  background-color: rgba(216, 131, 131, 0.5);
}


.text-long{
  font: 60px 'Hurricane', cursive;
  width: 65vw;
  margin: 1%;
}

.all-div-display{
  overflow: hidden;
  /*background-image: url("./sprites/joinRoomBG.png");*/
}

.background-image {
  position: fixed; /*image will always be top: 0 left: 0 by default.*/
  display: block; /*make it a block for width to work.*/
  width: 100%; /*set default width*/
  height: 100%; /*set default height*/
  max-width: 1920px; /*set max width*/
  max-height: 1080px; /*set max height*/
  z-index: -999999; /*set z-index so it won't overlap any other element.*/
}